@font-face {
    font-family: 'Vulf Mono_Light';
    src:    url('Vulf_Mono-Light_web.eot');
    src:    url('Vulf_Mono-Light_web.eot?#iefix') format('embedded-opentype'),
            url('Vulf_Mono-Light_web.woff') format('woff'),
            url('Vulf_Mono-Light_web.woff2') format('woff2'),
            url('Vulf_Mono-Light_web.ttf') format('truetype'),
            url('Vulf_Mono-Light_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vulf Mono_Light Italic';
    src:    url('Vulf_Mono-Light_Italic_web.eot');
    src:    url('Vulf_Mono-Light_Italic_web.eot?#iefix') format('embedded-opentype'),
            url('Vulf_Mono-Light_Italic_web.woff') format('woff'),
            url('Vulf_Mono-Light_Italic_web.woff2') format('woff2'),
            url('Vulf_Mono-Light_Italic_web.ttf') format('truetype'),
            url('Vulf_Mono-Light_Italic_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}