@font-face {
  font-family: 'Hobeaux-Web';
  src: url('Hobeaux-web/HobeauxWeb-Light.woff2') format('woff2'),
  url('Hobeaux-web/HobeauxWeb-Light.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}


@font-face {
  font-family: 'Hobeaux-Web';
  src: url('Hobeaux-web/HobeauxWeb-Regular.woff2') format('woff2'),
  url('Hobeaux-web/HobeauxWeb-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Hobeaux-Web';
  src: url('Hobeaux-web/HobeauxWeb-SemiBold.woff2') format('woff2'),
  url('Hobeaux-web/HobeauxWeb-SemiBold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Hobeaux-Web';
  src: url('Hobeaux-web/HobeauxWeb-Bold.woff2') format('woff2'),
  url('Hobeaux-web/HobeauxWeb-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hobeaux-Web';
  src: url('Hobeaux-web/HobeauxWeb-Black.woff2') format('woff2'),
  url('Hobeaux-web/HobeauxWeb-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

body {
  /*background: #eee;*/
  color: #222;
  background: url(palmemoji.gif);
  background-size: 200px;
  font-family: "Hobeaux-web", sans-serif;
}

#container {
  padding-top: 100px;
  padding-bottom: 100px;
}

#outer-outer {
  max-width: 600px;
  min-width: 200px;
  margin: auto auto;
  position: relative;
}

#outer {
  background: white;
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
}

#inner {
  padding: 24px 24px;
}

a {
  color: royalblue;
  text-decoration: none;
}

#cameo {
  width: 60px;
  margin: 80px auto 20px auto;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid white;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

#cameo img {
  width: 100%;
  display: block;
}

#about,
#intro,
#colophon {
  max-width: 400px;
  min-width: 200px;
  margin: auto auto;
  font-size: 14px;
  text-align: justify;
  font-weight: 300;
}

#intro {
  position: absolute;
  left: -160px;
  top: 40px;
  margin-bottom: 40px;
  text-align: center;
  padding: 10px;
  color: white;
  width: 100px !important;
  min-width: 100px;
  font-size: 12px;
  background: rgb(182,179,206);
  border: 1px solid white;
}

ul {
  list-style: none;
}

li {
  display: block;
  margin-bottom: 10px;
}

li a, li .desc {
  display: block;
  padding: 20px 20px;
  margin-bottom: 4px;
}

.desc {
  margin-bottom: 60px !important;
  text-align: center;
}

li a:hover {
  background: whitesmoke;
}

span {

}

span.title {
  font-style: normal;
  color: #333;
  line-height: 30px;
  margin-bottom: 5px;
  font-weight: 900;
  font-size: 34px;
  border-bottom: 3px solid #eee;
  padding-bottom: 7px;
  display: inline-block;
}

span.about {
  font-size: 18px;
  line-height: 16px;
  color: #666;
  font-weight: 700;
  border-bottom: 1px solid #eee;
  display: inline-block;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

span.date {
  color: #aaa;
  font-weight: 100;
  font-size: 14px;
  display: block;
}

span.pipe {
  display: inline-block;
  margin: 0 4px;
  color: #888;
  font-size: 12px;
}

span.where {
  color: darkorchid;
  display: inline-block;
  font-size: 12px;
}

.youtube {
  width: 100%;
  border: none;
  height: 310px;
}

#colophon h3 {
  margin-bottom: 10px;
}

#colophon {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px dotted #aaa;
  text-align: center;
  font-weight: 100;
}