* {
  padding: 0;
  margin: 0;
}

body {
  background: #eee;
  color: #222;
}

#container {
  padding-top: 100px;
  padding-bottom: 100px;
}

#outer {
  max-width: 600px;
  min-width: 200px;
  margin: auto auto;
  background: white;
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
}

#inner {
  padding: 30px 24px;
}

a {
  color: royalblue;
  text-decoration: none;
}

#cameo {
  width: 60px;
  margin: 80px auto 20px auto;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid white;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

#cameo img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

li {
  display: block;
}

li a {
  display: block;
  padding: 20px 20px;
  border-right: 10px solid #eee;
  margin-bottom: 4px;
}

li a:hover {
  border-right-color: lightskyblue;
  background: whitesmoke;
}

span {
  font-family: "PitchWeb", monospace;
  font-style: italic;
}

span.title {
  font-family: "FoundersGroteskWeb", serif;
  font-style: normal;
  display: block;
  font-size: 24px;
  margin-bottom: 4px;
  color: #447;
}

span.subtitle {
  color: dodgerblue;
  font-size: 18px;
  margin-top: -4px;
  margin-bottom: 12px;
  display: block;
}

span.about {
  font-size: 16px;
  display: block;
  color: salmon;
}

span.date {
  color: seagreen;
  font-size: 12px;
  display: inline-block;
}

span.pipe {
  display: inline-block;
  margin: 0 4px;
  color: #888;
  font-size: 12px;
}

span.where {
  color: darkorchid;
  display: inline-block;
  font-size: 12px;
}