* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "TiemposWeb",Georgia,serif;
  background: url(palm-bg.jpg) no-repeat center center fixed;
  /*background: #F7F7F7;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}

#container {
  color: #222;
  max-width: 1000px;
  min-width: 400px;
  margin: auto auto;
  position: relative;
}

h1 {
  font-style: italic;
  font-weight: normal;
  /*border-bottom: 1px solid #eee;*/
  /*display: inline-block;*/
  margin-bottom: 20px;
  font-family: "EubieScript", serif;
  font-size: 64px;
  text-align: left;
}

#dh {
  width: 180px;
  height: 180px;
  position: absolute;
  top: -30px;
  right: 120px;
  background: rgba(255,255,255,0.5);
  border: 6px solid #A5202C;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  transform: rotate(15deg);
}

#dh img {
  width: 100%;
}

h3 {
  font-weight: normal;
  font-style: italic;
  font-family: "EubieScript", serif;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 99%;
  color: #333;
  font-size: 34px;
}

#text-outer {
  margin: 130px auto 30px auto;
  max-width: 680px;
  min-width: 300px;
  /*position: relative;*/
}

#text-inner {
  text-align: left;
  font-size: 17px;
  -webkit-hyphens: auto;
  /*margin-left: -20%;*/
}

#text-inner .content {
  font-family: "TiemposWeb",Georgia,serif;
  line-height: 170%;
  background-color: rgba(255,255,255,0.7);
  padding: 1px 40px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

p {
  margin-bottom: 18px;
  /*text-indent: 40px;*/
}

img.sz {
  position: absolute;
  top: 110px;
  left: -100px;
  display: none;
}

figure {
  position: absolute;
  border: 0 solid white;
}

figure img {
  width: 100%;
}

ul {
  list-style: none;
  margin: 20px 0 26px;
}

span.punct {
  display: inline-block;
  width: 40px;
  font-size: 24px;
}