@font-face {
  font-family: 'EubieScript';
  src: url('/style/daifoldes/EubieScriptWOFF-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* { padding: 0; margin: 0; }

#container {
  font-family: "arek", serif;
  max-width: 800px;
  margin: auto auto;
}

#recipe-container {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#topbar {
  height: 22px;
  background: rgba(200,0,0,1.0);
  overflow: hidden;
}

#logo {
  font-family: EubieScript, cursive;
  color: white;
  font-size: 22px;
  line-height: 3px;
  margin-left: 18px;
  opacity: 0.5;
  text-decoration: none;
}

#title {
  text-align: right;
  margin-bottom: 20px;
  padding: 0 20px;
}

h1.cn {
  font-family: "Yuanti SC", sans-serif;
  font-weight: 100;
  font-size: 72px;
  padding: 0 4px 0 2px;
  font-style: normal;
  color: rgba(200,0,0,1.0);
  margin-bottom: 20px;
  margin-top: 10px;
  line-height: 120%;
}

h4.pinyin {
  font-family: "Yuanti SC", sans-serif;
  font-weight: lighter;
  color: rgba(200,0,0,1.0);
}

h1.en {
  font-family: EubieScript, serif;
  color: rgba(200,0,0,1.0);
  font-size: 72px;
  font-weight: normal;
  line-height: 80%;
  margin-bottom: 20px;
}

#photo {
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  background-position: bottom center;
}

.sep {
  margin-top: -1px;
  height: 10px;
  background: white;
  position: relative;
  z-index: 10;
}

#text {
  position: relative;
  margin-top: 40px;
  padding: 0 40px;
  padding-bottom: 50px;
}

#text .spacer {
  height: 20px;
}

#text a {
  color: royalblue;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px dotted #ccc;
}

#ingredients {
  width: 40%;
  position: absolute;
  top: 0;
  left: 40px;
  font-size: 17px;
  font-weight: 600;
}

#ingredients strong {
  font-weight: 800;
  color: rgba(200,0,0,1.0);
}

#ingredients em {
  font-weight: 300;
}

#instructions,
#etymology {
  width: 50%;
  margin-left: 50%;
}

#instructions p {
  margin-bottom: 16px;
}

#etymology {
  font-size: 14px;
  color: rgba(200,0,0,1.0);
}

#etymology h5 {
  color: #444;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  #ingredients {
    position: relative;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(200,0,0,1.0);
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  #instructions,
  #etymology {
    margin-left: 0;
    width: 80%;
  }
}

#footer-container {
  margin-top: 20px;
  margin-bottom: 80px;
}

#footer {
  text-align: center;
  color: #aaa;
  font-style: italic;
}

.rights {
  font-style:normal;
  font-size:12px;
  text-transform: uppercase;
}