@font-face {
  font-family: 'EubieScript';
  src: url('/style/daifoldes/EubieScriptWOFF-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* { padding: 0; margin: 0; }

body {
  background: url(/map.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  background-position: top center;
}

#outer-container {
  background: rgba(255,255,255,0.8);
}

#container {
  font-family: "arek", serif;
  max-width: 800px;
  margin: auto auto;
}

#recipe-container {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background: white;
}

#topbar {
  height: 22px;
  background: rgba(200,0,0,1.0);
  overflow: hidden;
}

#logo {
  font-family: EubieScript, cursive;
  color: white;
  font-size: 22px;
  line-height: 3px;
  margin-left: 18px;
  opacity: 0.5;
  text-decoration: none;
}

#title {
  text-align: right;
  margin-bottom: 20px;
  padding: 0 20px;
}

h1.cn,
.cjk {
  color: rgba(200,0,0,1.0);
  font-style: normal;
}

h1.cn {
  font-family: "Yuanti SC", sans-serif;
  font-weight: 100;
  font-size: 72px;
  padding: 0 4px 0 2px;
  font-style: normal;
  margin-bottom: 20px;
  margin-top: 10px;
  line-height: 120%;
}

h4.pinyin {
  font-family: "arek", "Yuanti SC", sans-serif;
  font-weight: lighter;
  color: rgba(200,0,0,1.0);
}

h1.en {
  font-family: EubieScript, serif;
  color: rgba(200,0,0,1.0);
  font-size: 72px;
  font-weight: normal;
  line-height: 80%;
  margin-bottom: 20px;
}

#photo {
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  background-position: bottom center;
}

.sep {
  margin-top: -1px;
  height: 10px;
  background: white;
  position: relative;
  z-index: 10;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#text {
  position: relative;
  margin-top: 40px;
  padding: 0 40px;
  padding-bottom: 50px;
}

#text .spacer {
  height: 16px;
}

#text a {
  color: royalblue;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px dotted #ccc;
}

.tilde {
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
  margin: 20px 0 24px;
}

#text .top {
  width: 80%;
}

#introduction {
  font-style: italic;
  font-size: 17px;
}

#introduction em {
  font-style: normal;
}

#introduction p:first-child::first-letter {
  color: rgb(200,0,0);
  font-size: 57px;
  display: inline-block;
  font-weight: bold;
  font-style: normal;
  float: left;
  line-height: 43px;
  padding-right: 3px;
  margin-left: -4px;
}

#tips {
  font-size: 13px;
}

#ingredients {
  width: 40%;
  float: left;
  font-size: 17px;
  font-weight: 600;
}

#ingredients strong {
  font-weight: 800;
  color: rgba(200,0,0,1.0);
}

#ingredients em {
  font-weight: 300;
}

#instructions {
  width: 50%;
  margin-left: 50%;
}

.split {
  border-bottom: 1px solid rgba(200,0,0,0.5);
  margin: 40px 0 40px;
}

#instructions p {
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  #text .top {
    width: 100%;
  }

  #ingredients {
    position: relative;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(200,0,0,0.3);
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  #instructions {
    width: 100%;
    margin-left: 0;
  }
}

#footer-container {
  padding-top: 20px;
  padding-bottom: 80px;
}

#footer {
  text-align: center;
  color: #777;
  font-style: italic;
}

.rights {
  font-style:normal;
  font-size:12px;
  text-transform: uppercase;
}