@font-face {
  font-family: 'EubieScript';
  src: url('/style/daifoldes/EubieScriptWOFF-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* { padding: 0; margin: 0; }

body {
  /*background: url(/map.gif) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  background-position: top center;
  background: white;
  font-family: "arek", serif;
}

#container {
  max-width: 800px;
  margin: auto auto;
}

#header {
  margin-bottom: 10px;
}

h1.jia {
  font-family: "EubieScript", cursive;
  color: indianred;
  font-weight: normal;
  font-size: 100px;
  text-align: center;
}

h3.slogan {
  font-style: italic;
  font-size: 20px;
  color: #333;
  text-align: center;
  font-weight: normal;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 8px 0 10px;
  margin-top: 20px;
}

#sections {
  width: 20%;
  overflow: hidden;
  float: left;
}

#sections-inner {

}

#sections a.section {
  display: block;
  font-style: italic;
  text-decoration: none;
}

#sections .section-inner {
  height: 100px;
  padding: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #eee;
}

#sections a.section:hover {
  background: whitesmoke;
  text-decoration: underline;
}

#content {
  width: 58%;
  min-height: 400px;
  background: white;
  float: left;
}

#content-inner {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 0 20px;
}

#drawings {
  width: 20%;
  float: left;
}

#drawings-inner {
  min-height: 400px;
}

a {
  color: royalblue;
  text-decoration: none;
}

.cn, .cjk {
  font-family: "Yuanti SC", cursive;
  font-weight: 100;
  padding: 0 1px 0 1px;
  font-style: normal;
}

p .cjk {
  color: indianred;
}

.post-preview {
  margin-bottom: 40px;
}

.post-preview h3 {
  font-family: "EubieScript", cursive;
  font-weight: normal;
  font-size: 42px;
  margin-bottom: 10px;
}

.post-preview-inner {
  padding-top: 20px;
}

.post-preview-inner p {
  margin-bottom: 10px;
  font-size: 15px;
}

#top {
  min-height: 800px;
}

#footer-container {
  padding-top: 20px;
  padding-bottom: 80px;
  border-top: 1px solid #eee;
}

#footer {
  text-align: center;
  color: #777;
  font-style: italic;
}

.rights {
  font-style:normal;
  font-size:12px;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  #sections,
  #content,
  #drawings {
    float: none;
  }

  #sections {
    width: 100%;
  }

  #content {
    width: 90%;
  }

  #content-inner {
    border: none;
  }

  #sections a.section {
    width: 25%;
    float: left;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }