@font-face {
  font-family: 'EubieScript';
  src: url('/style/daifoldes/EubieScriptWOFF-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* { padding: 0; margin: 0; }

body {
  background: url(/map.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  background-position: top center;
}

#color {
  background: rgba(201,3,134,0.5);
  padding-bottom: 200px;
}

h1 {
  /*background: mediumvioletred;*/
  font-family: "EubieScript", cursive;
  text-align: center;
  color: gold;
  font-size: 300px;
  font-weight: normal;
  text-shadow: 0px 0px 20px rgba(255,255,255,0.3);
  padding: 40px 0 40px 0;
  height: 370px;
  /*border-bottom: 1px solid yellow;*/
}

h3 {
  color: white;
  font-size: 42px;
  text-align: center;
  padding: 0 0 10px 0;
  font-weight: bold;
  font-style: italic;
  font-family: "arek", serif;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  max-width: 600px;
  margin: 20px auto 16px auto;
}

h4 {
  color: white;
  font-size: 22px;
  text-align: center;
  font-family: "arek", serif;
  font-style: italic;
  font-weight: normal;
}

a {
  color: white;
  text-decoration: none;
  border-bottom: 1px dotted white;
}

.cn {
  font-family: "Yuanti SC", cursive;
  font-weight: 100;
  padding: 0 4px 0 2px;
  font-style: normal;
}

h2 {
  color: yellow;
  font-family: EubieScript, serif;
  font-size: 52px;
  margin: 60px 0;
  text-align: center;
  font-weight: normal;
}